/*
* @Author: Dtvikey
* @Date:   2019-11-26 06:43:13
* @Last Modified by:   Dtvikey
* @Last Modified time: 2019-11-26 06:50:23
*/
.cate-select{
    width: 200px;
    margin-right: 15px;
    display: inline-block;
}