/*
* @Author: Dtvikey
* @Date:   2019-11-25 11:11:11
* @Last Modified by:   Dtvikey
* @Last Modified time: 2019-11-25 11:12:04
*/
.opear{
    margin-right: 5px;
}

.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}